 * {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
 }
 input {
   border: 1px solid gray;
   padding: 5px;
 }
 input:focus {
   border: none;
 }
 button {
   padding: 5px;
   color: black;
 }
