 * {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
 }
button {
   padding: 10px;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   opacity: 0.7;
}
button:hover {
   opacity: 1;
}
